@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --light-purple-color: #8854c0;
    --light-color: #fff;
    --dark-color: #000;
    --grey-color: #f2f2f2;
    transition: all 300ms ease-in-out;
}

/* centering */
/* .flex{
    display: flex;
    align-items: center;
    justify-content: center; */
/* } */
body{
    font-family: 'Poppins', sans-serif;
    color: var(--light-color);
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, 
h2 {
    color: var(--grey-color);
    font-family: 'Poppins', sans-serif;
}

a {
    color: var(--light-purple-color);
    font-family: 'Poppins', sans-serif;
}

a:hover {
    color: var(--light-color);
    font-family: 'Poppins', sans-serif;
}

.btn:focus, .btn:active, .btn:visited {
    outline: none !important;
    box-shadow: none !important;
    background-color: var(--dark-color);
}

#finalScore {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

span {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

#questionTitle {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

#answerCheck {
    font-style: italic;
    color: var(--light-color);
}
#start-quiz-button{
    background-color: var(--light-purple-color);
}
#submitInitialBtn{
    background-color: var(--light-purple-color);
}
